.book-card {
  transition: all 0.3s ease-in-out;
  background-color: #f8f9fa; /* nền nhẹ */
}

.book-card:hover {
  background: linear-gradient(135deg, #e0f7fa, #e8f5e9);
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-title {
  color: #0d6efd;
}

.btn-outline-primary {
  border-color: #0d6efd;
  color: #0d6efd;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
}
/* style.css */
body {
  margin: 0;
  padding: 0;
}

.d-flex.flex-column.min-vh-100 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

footer {
  width: 100%;
  background-color: #0a2445; /* Màu xanh lá cây đậm */
  color: white;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
}

.form-select {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

